/* @media screen and (max-width:2001px) and (min-width: 1200px){
    .bottumorder {
        display: none; 
    }
    .cart{
        width:600px;
    }
  
}
@media screen and (max-width:1199px)and (min-width: 100px) {
    .cart {
        width:100%; 
    }
    .header{
        display: none;
    }
}
@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {
    div.example {
      font-size: 50px;
      padding: 50px;
      border: 8px solid black;
      background: yellow;
    }
  } */